<div class="card-body">
  <form novalidate #filmForm="ngForm">
    <fieldset>
      <legend>Les informations basique du Film</legend>

      <div class="form-group row">
        <label class="col-md-2 col-form-label" for="filmNameId">Film Name</label>
        <div class="col-md-8">
          <input class="form-control" id="filmNameId" type="text" placeholder="Name (required)" required minlength="3"
            [(ngModel)]=film.filmName name="filmName" #filmNameVar="ngModel"
            [ngClass]="{'is-invalid': (filmNameVar.touched || filmNameVar.dirty) && !filmNameVar.valid }" />
          <span class="invalid-feedback">
            <span *ngIf="filmNameVar.errors?.required">
              Le titre du film est obligatoire
            </span>
            <span *ngIf="filmNameVar.errors?.minlength">
              Le titre du film doit contenir au moins 3 caractères
            </span>
          </span>
        </div>
      </div>

      <div class="form-group row">
        <label class="col-md-2 col-form-label" for="filmCodeId">Code du FILM</label>
        <div class="col-md-8">
          <input class="form-control" id="filmCodeId" type="text" placeholder="Code (required)" required
            [(ngModel)]=film.filmCode name="filmCode" #filmCodeVar="ngModel"
            [ngClass]="{'is-invalid': (filmCodeVar.touched || filmCodeVar.dirty) && !filmCodeVar.valid }" />
          <span class="invalid-feedback">
            <span *ngIf="filmCodeVar.errors?.required">
              Le code du film est obligatoire
            </span>
          </span>
        </div>
      </div>

      <div class="form-group row">
        <label class="col-md-2 col-form-label" for="descriptionId">Description</label>
        <div class="col-md-8">
          <textarea class="form-control" id="descriptionId" placeholder="Description" rows=3 [(ngModel)]=film.description
            name="description"></textarea>
        </div>
      </div>
    </fieldset>
  </form>
</div>

<div class='alert alert-danger' *ngIf='errorMessage'>{{errorMessage}}
</div>
