<div class="card">
  <div class="card-header">
    {{pageTitle}}
  </div>

  <div class="card-body">
    <div class="wizard">
      <a [routerLink]="['info']">
        infos
      </a>
      <a [routerLink]="['acteurs']">
        acteurs
      </a>
    </div>
    <router-outlet></router-outlet>
    <div class="col-md-12">
      <button class="btn btn-primary mr-3" style="width:120px" type="button"
        [title]="'Enregistrer vos données'"
        [disabled]="!isValid()"
        (click)="saveFilm()">
        Enregistrer
      </button>
      <button class="btn btn-outline-secondary mr-3" style="width:100px" type="button"
        title="Annuler les modifications">
        Annuler
      </button>
      <button class="btn btn-outline-warning" style="width:100px" type="button" title="Supprimer ce film"
        (click)="deleteFilm()">
        Supprimer
      </button>
    </div>

  </div>
</div>
<div class="form-group row mb-2">
</div>
<div class="alert alert-danger" *ngIf="errorMessage">{{errorMessage}}
</div>
