<div class="card-body">
  <form novalidate>
    <fieldset>
      <legend>Ajout d'acteurs de film</legend>

      <div class="form-group row">
        <label class="col-md-2 col-form-label" for="acteursId">Acteurs</label>
        <div class="col-md-8">
          <input class="form-control" id="acteursId" type="text" placeholder="Search keywords separated by commas"
            [(ngModel)]="newActeurs" name="acteurs" />
        </div>
        <div class="col-md-1">
          <button class="btn btn-outline-primary" type="button"
            title="Enter the search keywords separated by commas and then press Add" (click)="addActeurs()">
            Ajouter
          </button>
        </div>
      </div>

      <div class="row">
        <div class="col-md-8 offset-md-2">
          <span *ngFor="let acteur of film.acteurs; let i = index">
            <button class="btn btn-outline-secondary" style="font-size:smaller;margin-bottom:12px;margin-right:2px"
              title="Click to remove this acteur" (click)="removeActeur(i)">
              {{acteur}}
              <span class="fa fa-times-circle"></span>
            </button>
          </span>
        </div>
      </div>

    </fieldset>
  </form>
</div>

<div class="alert alert-danger" *ngIf="errorMessage">{{errorMessage}}
</div>
