<div class="card">
  <div class="card-header">
    {{pageTitle}}
  </div>

  <div class="card-body" *ngIf="film">

    <div class="row">

      <div class="col-md-8">
        <div class="row">
          <div class="col-md-3">Titre:</div>
          <div class="col-md-6">{{film.filmName}}</div>
        </div>
        <div class="row">
          <div class="col-md-3">Code du film:</div>
          <div class="col-md-6">{{film.filmCode}}</div>
        </div>
        <div class="row">
          <div class="col-md-3">Description:</div>
          <div class="col-md-6">{{film.description}}</div>
        </div>
        <div class="row">
          <div class="col-md-3">Date de sortie:</div>
          <div class="col-md-6">{{film.releaseDate}}</div>
        </div>
        <div class="row">
          <div class="col-md-3">Prix:</div>
          <div class="col-md-6">{{film.price|currency:"USD":"symbol"}}</div>
        </div>
        <div class="row">
          <div class="col-md-3">Note :</div>
          <div class="col-md-6">
            <pm-star [rating]="film.starRating">
            </pm-star>
          </div>
        </div>
        <div class="row">
          <div class="col-md-3">Genre:</div>
          <div class="col-md-6">{{film.category}}</div>
        </div>
        <div class="row">
          <div class="col-md-3">Acteurs :</div>
          <div class="col-md-6">{{film.acteurs}}</div>
        </div>
      </div>

      <div class="col-md-4" *ngIf="film.imageUrl">
        <img class="center-block img-responsive" [style.height.px]="150" [style.margin.px]="2" [src]="film.imageUrl"
          [title]="film.filmName">
      </div>
    </div>

    <div class="row mt-4">
      <div class="col-md-4">
        <button class="btn btn-outline-secondary mr-3" style="width:160px" [routerLink]="['/films']" queryParamsHandling="preserve">
          <i class="fa fa-chevron-left"></i> Retour
        </button>
        <button class="btn btn-outline-primary" style="width:160px" [routerLink]="['/films',film.id,'edit']">
          Modifier
        </button>
      </div>
    </div>

  </div>
</div>

<div class="alert alert-danger" *ngIf="errorMessage">{{errorMessage}}
</div>
